
/**************************************************************

	Image Menu
	v 2.2

**************************************************************/


#imageMenu {
	position: relative;
	width: 710px;
	height: 500px;
	overflow: hidden;
}



#imageMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 500px;
	width: 1000px;
	
	}

#imageMenu ul li {
	float: left;
}

#imageMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:198px;
	height: 500px;
}

#imageMenu ul li.landscapes a {
	background: url(images/001.png) repeat scroll 0%;
}

#imageMenu ul li.people a {
	background: url(images/002.png) repeat scroll 0%;
}

#imageMenu ul li.nature a {
	background: url(images/003.png) repeat scroll 0%;
}

#imageMenu ul li.urban a {
	background: url(images/004.jpg) repeat scroll 0%;
}

#imageMenu ul li.abstract a {
	background: url(images/abstract.jpg) repeat scroll 0%;
	width: 480px;
}

.clear {
	clear: both;
}

/*************************************************************/

